.add{
    width: 70%;
    margin-left: max( 5vw, 25px);
    margin-top: 20px;
    color: #6d6d6d;
    font-size: 16px;

}
.add form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-img-upload img{
    width: 120px;
   
}
.add-product-name, .add-product-price, .add-product-description, .add-product-category{
    padding: 8px 12px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}
.add-category-price{
    display: flex;
    gap: 30px;
}
.add-product-name input, .add-product-description textarea{
    padding: 8px 12px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    width: 80%;
}
.add-category-price select, .add-category-price input{
    padding: 8px 12px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    width: 150px;
}
.add-btn{
    width: 120px;
    padding: 8px 12px;
    border: none;
    background-color: tomato;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}