.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 4%;
    /* background-color: #333;
    color: white; */
}
.navbar-logo{
    width: max( 10%, 80px);
}
.navbar .profile{
    width: 40px;
}