.list {
  width: 90%;
  margin: 0px auto;
  padding: 20px;
 
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* font-family: Arial, sans-serif; */
}

.list-table {
  width: 100%;
  border-collapse: collapse;
}

.list-table-format {
  display: grid;
  grid-template-columns: 80px 1.5fr 1fr 1fr 100px;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #cacaca;
}

.list-table-format img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.list-table-format p {
  margin: 0;
  font-size: 14px;
  color: #333;
}


.list-table-format p:last-child {
  color: red;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns:  1fr 3fr 1fr;
    gap: 15px;
  }

  .list-table-format img {
    width: 50px;
    height: 50px;
  }
  .list-table-format.title {
    display: none;

  }

  .list-table-format p {
    font-size: 12px;
  }

  .list-table-format p:last-child {
    font-size: 10px;
    padding: 5px;
  }
    
}